_site
old/
.travis.yml
Gemfile.lock
Rakefile
_data/ui-text.yml
docs/
minimal-mistakes-jekyll.gemspec
package-lock.json
package.json
screenshot-layouts.png
screenshot.png
staticman.yml
test/
bundle
.jekyll-cache
vendor
