---
layout: page
title: Ramblings
subtitle: Random brainfarts from a butterfly-obsessed caffeine fiend.
description: Posts from Alex C-G
sitemap:
  priority: 1.0
---
{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}

{% for post in site.posts %}   
    {% unless post.listed == false %}
        {% if post.pin != true %}
            {% include post/post_card.html %}
        {% endif %}
    {% endunless %}   
{% endfor %}
